*{
    margin:0;
    padding: 0;
}

#chatter-up{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#chat-container{
    /* background-color: red; */
    width: 70vw;
    display: flex;
    flex-direction: column;
    
}

#connected-user{
    
    width: 30vw;
}

#user-list{
    

    width: fit-content;
    padding: 10px;
}

li{
    margin: 10px;
}

li::marker{
    color: green;
}

#message-box{
    background-color: #ECECEB;
    height: 90%;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    
}

#message-list{
    height: 87%;
    background: url('chatbg3.png');
    background-size: cover;
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
    padding:20px;
    overflow: auto;
    /* position: relative; */
}

#message-input{
    /* background-color: yellow; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    padding:10px;
    gap: 10px;
}

.input-field{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

#send-message{
    width: fit-content;
    height: 50%;
    border-radius: 10px;
    padding: 10px;
}

.message-item, .new-user{
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-top:10px;
}

.new-user{
    margin: auto;
    margin-top: 10px;
}

.right-side{
    margin-left: auto;
}

#header{
    background-color: #ECECEB;
    height: 50px;
}

#typing-indicator{
  padding: 10px;
  padding-left: 30px;
}

.dots{
    display: inline;
}

.form{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: #ECECEB;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.form-box{
    font-size: 1.2rem;
    /* background-color: red; */
    margin: auto;
    
}
label{
    margin-right: 20px;
}

#join{
    display: block;
    margin: 0 auto;
    width: 20%;
    font-size: 1.1rem;
    border-radius: 5px;
    /* text-align: center; */
}

.username{
    margin-bottom: 10px;
    color: green;
}